.enigma-pattern-container {
    align-items: center;
    background-color: var(--primary-clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center
}

body,
html {
    margin: 0;
    padding: 0
}

:root {
    --primary-clr: #0f1b33;
    --secondary-clr: #f0f8ff;
    --tertiary-clr: #69b4c3
}

button:focus {
    border-color: rgba(69, 49, 157, .7);
    box-shadow: 0 0 0 8px rgba(69, 49, 157, .9)
}

.enigma-input {
    background: #e8e8e8;
    border: none;
    border-radius: 1rem;
    color: purple;
    font-size: 1rem;
    margin-bottom: 20px;
    overflow-x: hidden;
    padding: .3rem;
    padding-inline-start: 2rem;
    transition: .3s
}

.enigma-input::placeholder {
    letter-spacing: 0 !important
}

.enigma-input:focus {
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #fff;
    outline-color: #e8e8e8;
    transition: .3s
}

.btns-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr
}

.btns-container button:nth-child(10) {
    grid-column-start: 2
}

.btn:hover {
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-color)
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

button:hover {
    border-color: rgba(69, 49, 157, .4);
    box-shadow: 0 0 0 6px rgba(69, 49, 157, .6)
}

.py-2 {
    padding-bottom: .5rem !important;
    padding-top: .5rem !important
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important
}

.btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 1px 1px rgba(0, 0, 0, .075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    background-color: var(--bs-btn-bg);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    color: var(--bs-btn-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    appearance: button
}

button,
select {
    text-transform: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

button {
    border: 2px solid transparent !important;
    border-radius: 0;
    border-radius: 8px !important;
    transition: .3s ease !important
}

*,
:after,
:before {
    box-sizing: border-box
}